body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%; 
	margin: 0; 
}

#map {
	width: 70%;
	height: 100%;
	float: left;
	z-index: 1;
}

#right-side {
	width: 30%;
	height: 100%;
	position: fixed;
	left: 70%;
	top: 6.7%;
}

.nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.scatter {
	width: 30%;
	height: 29.25%;
	position: fixed;
	outline: 1px solid black;
	padding-bottom: 5px;
}

#plot1 {
	outline: none;
}

#plot2 {
	height: 30%;
	top: 40.2%;
}

#plot3 {
	top: 70.25%;
}

.dot {
	stroke: black;
	stroke-width: 2;
	fill: dimgrey;
	opacity: 0.7;
}

.tooltip {
	position: absolute;
	font-size: 12px;
	width:  auto;
	height: auto;
	pointer-events: none;
	background-color: white;
}