body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%; 
	margin: 0; 
}

#map {
	width: 70%;
	height: 100%;
	float: left;
	z-index: 1;
}

#scatter1 {
	width: 30%;
	height: 30%;
	position: fixed; 
	background-color: snow;
	left: 70%;
}

#scatter2 {
	width: 30%;
	height: 30%;
	position: fixed;
	background-color: snow;
	left: 70%;
	top: 37%;
}

#scatter3 {
    width: 30%;
    height: 30%;
    position: fixed;
    background-color: snow;
    left: 70%;
    top: 68%;
}

.dot {
	stroke: black;
	stroke-width: 2;
	fill: dimgrey;
	opacity: 0.7;
}

.tooltip {
	position: absolute;
	font-size: 12px;
	width:  auto;
	height: auto;
	pointer-events: none;
	background-color: white;
}